body {
	font-size: 16px;
    color: #151515;
}
a {
    color: #546fab;
}
.navbar-brand {
    height: 246px;
    position: absolute;
    z-index: 1000;
}
.nav-top {
	height: 186px;
	background-image: linear-gradient(to bottom,#314c86 0,#546fab 100%);
}
.navbar {
    background-color: #24355d;
    background-image: none;
    border: none;
    border-radius: 0;
    z-index: 10;
}
.navbar-nav>li {
    height: 60px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #25365f;
    background-color: #eaeaea;
    height: 60px;
    font-weight: bold;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: -webkit-linear-gradient(top,#eaeaea 0,#fff 100%);
    background-image: -o-linear-gradient(top,#eaeaea 0,#fff 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dbdbdb),to(#e2e2e2));
    background-image: linear-gradient(to bottom,#eaeaea 0,#fff 100%);
}
.nav>li>a {
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
}
.navbar-nav>li:hover {
    background-color: #cecece;
}
.navbar-default {
  box-shadow: none;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    padding-top: 18px;
    padding-bottom: 18px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.search-modal {
    display: block;
    background-color: rgba(0,0,0,.6);
}
.fade.in {
    opacity: 1;
}
.modal-dialog {
  width: 895px;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 180px;
}

.modal-content {
  padding: 48px 60px 21px;
  font-weight: bold;
}

.modal-icon {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -17px;
  margin-left: -17px;
}

.modal-header {
  padding: 0;
  border-bottom: none;
  margin-bottom: 17px;
}

.modal-title {
  margin-bottom: 0px;
  font-size: 62px;
  font-weight: bold;
}

.modal-subsubtitle {
  margin-bottom: 34px;
}

.modal-form-checkbox {
  margin-right: 96px;
  margin-left: 96px;
  margin-bottom: 38px;
  /*13px*/
  font-size: 0.8125rem;
}

.modal-form-container {
  margin-bottom: 40px;
}

.modal-form-container .moving-group {
  display: inline-block;
  vertical-align: top;
  width: 290px;
}

.modal-form-container .btn {
  margin-left: 16px;
}

.modal-landing-content p {
  margin-bottom: 30px;
  color: #525353;
}

.btn-modal {
  min-width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;;
  border-radius: 5px;
  font-size: 26px;
  margin-bottom: 30px;
  background-color: #546fab;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 20px;
}
.btn-modal:hover, .btn-modal:focus {
    color: #fff;
    background-color: #6584ca;
}
.modal-content h3 {
  margin-bottom: 20px;
  font-weight:  bold;
}
.modal-custom {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  background-color: rgba(24, 26, 28, 0.6);
  overflow: auto;
}

.modal-custom.js-open {
  display: block;
}
main {
    margin-top: 60px;
    margin-bottom: 60px;
}
.main-page h1  {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
}
.family-photo {
  max-width: 100%;
}
.text-center {
    text-align: center;
}
.search-box {
    margin-top: 20px;
    padding-top: 30px;
    border: 3px solid #696969;
    border-radius: 6px;
    -moz-box-shadow:    inset 0 0 10px #696969;
    -webkit-box-shadow: inset 0 0 10px #696969;
    box-shadow:         inset 0 0 10px #696969;
}
.search-box .search {
    background-image: url(../img/bg-person.jpg);
    padding: 20px 10px;
    color: #fff;
    margin-top: 30px;
}
.search-box hr {
    border: 0 none;
    height: 2px;
    background-color: #fff;
    max-width: 266px;
}
.search-box h2 {
    font-weight: bold;  
    margin-top: 30px;
}
.search-box h3 {
    font-weight: bold;
    color: #86bbfe;
}
.btn-submit {
    display: block;
    width: 184px;
    height: 44px;
    border: 0;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    font-weight: 700;
    background: #7ac143;
    padding: 0;
    margin: auto;
    margin-top: 20px;
    border-radius: 2px;
}
.terms {
    text-decoration: underline;
}
.search-box .search p {
    margin-top: 10px;
    font-style: italic;
    font-size: 14px;
}
.form-control, input[type=text], input[type=password], input[type=email], input[type=tel], input[type=search], input[type=url], input[type=number], textarea, select, select.form-control {
    display: block;
    width: 80%;
    padding: 14px 15px;
    font-size: 18px;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-color: #fff;
    border-radius: 6px;
    color: #636667;
    box-shadow: none;
    margin: auto;
    text-align: center;
}
.search-box .testimonials {
    padding: 20px 24px;
}
.search-box .testimonials h6 {
    font-size: 16px;
    font-weight: bold;
}
.search-box .testimonials .text {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 6px;
}
.search-box .testimonials .person {
    font-size: 12px;
    margin-left: 8px;
}

.footer {
    background-color: #24355d;
    padding: 30px;
    color: #25365f;
    background-color: #e7e7e7;
}

.copyright {
    text-align: center;
    color: #546fab;
    font-size: 12px;
}
.footer hr {
    border: 0 none;
    height: 1px;
    background-color: #546fab;
    max-width: 200px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

#meganPic {
  height: 165px;
  width: 118px;
  float: right;
}

#timmendequasPic {
  height: 165px;
  width: 108px;
  float: right;
}
.page-title {
  color: #004691;
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 18px;
  font-weight: 700;
}

@media screen and (max-width: 769px){
  .kls-logo {
    width: 180px;
  }
  .navbar-brand {
    height: 224px;
    left: -8px;
  }
  .nav-top {
    height: 156px;
  }
  .modal-dialog {
    max-width: 80%;
  }
  main {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .search-box h2 {
    margin-top: 5px;
  }
}

@media screen and (max-width: 500px){
  .modal-title {
    font-size: 36px;
  }
  .modal-content {
    padding: 32px 20px 21px;
  }
  .modal-dialog {
    max-width: 88%;
    margin-top: 100px;
  }
  .modal-landing-content p {
    margin-bottom: 20px;
  }
  .navbar-brand {
    height: 194px;
  }
  .nav-top {
    height: 138px;
  }
  .main-page h1 {
    font-size: 30px;
  }
}
